.foot{
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
    width: 100%;
    position: fixed;
    }

    .foot{
    
        background-repeat:no-repeat;
        background-size:$objet-fit; 
        position: fixed;
    }
    
    .iconos a{
        margin: 3%;
        text-align: center;
        position: fixed;
    }