@media screen and  (min-width: 412px) {
    .casamiento{
        font-size: 1.3rem;
        color: rgb(53, 50, 50);

    }
    .matrimonio{
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
    }
    .vision{
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
        background-color: #ddadc94f;  
    }
    .texto-n{
        font-size: rem;
    }
}

@media screen and  (min-width: 412px){
    .texto-boda2{
        font-size: 1.2rem;
    }
    .texto-bodau{
        font-size: 1.5rem;
        color: rgb(155, 43, 28);
    }
    .texto-boda4{
        font-size: 1.3rem;
        color: rgb(0, 0, 0);
        font-family:$tipografia-alternativa;

    }
    .texto-bodav{
        font-size: 1.5rem;
        color: rgb(155, 43, 28);
    }
    .video {
        font-size: 2rem;
        z-index: -1;  
}
}

@media screen and  (min-width: 412px){
    .elladijosi11{
        font-size: 1.1rem;
        color: black;
    }
    .s{
        font-size: 2.5rem;
        color: rgb(161, 43, 28);
        text-align: c$centrado;
    }
    .sofia{
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
        text-align: $centrado;
    }
    .fotografias{
        font-size: 4rem;
        text-align: left;  
    }
    .card-title{
        font-size: 1.2rem;
        z-index: -1;    
}
}
 
@media screen and  (min-width: 412px) {
    .texto-boda{
        font-size: 1rem;
    }
    .texto-boda5{
        font-size: 1rem;
        color: rgb(77, 15, 58);
        text-align: center;
    }
    
}
@media screen and  (min-width: 412px) {
    .texto-boda{
        font-size: 1.2rem;
    }
    .texto-boda5{
        font-size: 1.2rem;
        color: rgb(155, 43, 28);
        text-align: $centrado;
    } 
}
   
@media screen and  (min-width: 412px){
    .textob{
        font-size: 1.6rem;
        text-align: $centrado;
    }
    .texton{
        font-size: 1rem;
        color: rgb(155, 43, 28);
        text-align: $centrado;
    }
    .P{
        font-size: 1.2rem;
        text-align: $centrado;
    }
    .card-title{
        font-size: 1.4rem;
    }
    .card-text{
        font-size: 1.2rem;
    }
    .for{
        font-size: 1.4rem;
    }
}