$centrado: center;
$tipografia-general: 'Nanum Myeongjo', serif;
$tipografia-alternativa: Verdana, Geneva, Tahoma, sans-serif;
$display: flex;
$objet-fit: cover;
$colortext:rgba(10, 10, 10, 0.959);
$font-size: 1rem;
$font-size: 2rem;
$font-size: 3rem;
$text-align: right;



/*maps*/

